header{
    font-family:monospace;
    font-size: 15px;
    color: greenyellow;
    text-align: center;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px, 10px;
    z-index: 500;
}

body{
    background-image: url(background.jpg);
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 12px;
}

#about{
    margin-top: 119px;
    padding: 10px;
    background: rgba(0,0,23,.77);
    border-radius: 5px;
}

#about img{
    width: 30%;
    display: block;
    margin: auto;
    border-radius: 5px;
}

#about p{
    font-family: Franklin Gothic;
    border-radius: 30px;
    text-align: center;
    color: white;
}

#about h2{
    font-family: Arial Narrow;
    font-weight: 700;
    text-decoration: none;
    text-align-last: center;
    color: white;
}

#about ul{
    font-family: Franklin Gothic;
    color: white;
}







